<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Employees</h2>
        <div class="float-end mt-5">
          <div class="row">
            <div class="col-md-12">
              <div class="btn-toolbar">
                <div class="btn-group m-2" role="group" aria-label="First group" *ngIf="isSelected">
                  <button class="btn btn-success" (click)="filter(4)">Reset</button>
                  <button class="btn btn-success" (click)="filter(1)">Same Office and Grade</button>
                  <button class="btn btn-success" (click)="filter(3)">All Office and Same Grade</button>
                  <button class="btn btn-success" (click)="filter(2)">Same Position and Grade</button>
                  <button class="btn btn-success" (click)="filter(3)">All Position and Same Grade</button>
                </div>
                <div class="btn-group m-2">
                  <a class="btn btn-primary" [routerLink]="['/register', selected.employeeCode]"  *ngIf="isSelected">Add</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Code</th>
                <th>Full Name</th>
                <th>Division</th>
                <th>Position</th>
                <th>Grade</th>
                <th>Begin Grade</th>
                <th>Birthday</th>
                <th>Identification Number</th>
                <th>Total Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employee.records" (click)="select(employee)">
                <td>{{employee.employeeCode}}</td>
                <td>{{employee.employeeFullName}}</td>
                <td>{{employee.division.name}}</td>
                <td>{{employee.position.name}}</td>
                <td>{{employee.grade}}</td>
                <td>{{employee.beginGrade | date: 'yyyy-MM-dd'}}</td>
                <td>{{employee.birthday | date: 'yyyy-MM-dd'}}</td>
                <td>{{employee.identificationNumber}}</td>
                <td>{{employee.totalSalary}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-center" *ngIf="isLoading">
        <div class="spinner-border" role="status">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="float-end Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item" [ngClass]="{'disabled': pageNumber == 1}"><a class="page-link"
                (click)="previous()">Previous</a></li>
            <li class="page-item" [ngClass]="{'disabled': pageNumber == employee.pagingInfo.totalPages}"><a
                class="page-link" (click)="next()">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>