<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid">
    <h1 class="display-5 fw-bold">Marshall Salary</h1>
    <p class="col-md-8 fs-4">In this application, the salaries of the employees of Marshalls LLC are observed and
      registered.</p>
    <button class="btn btn-primary btn-lg" type="button" (click)="navigate()">View Salarys</button>
  </div>
</div>