<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2>Register Employee</h2>
      </div>
    </div>
    <form [formGroup]="formSalary" (submit)="add()">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group mb-2">
            <label for="employee-code">Employee Code</label>
            <input type="text" class="form-control" id="employee-code" name="employee-code" readonly formControlName="employeeCode">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group mb-2">
            <label for="salary-date">Salary Date</label>
            <input type="date" class="form-control" id="salary-date" name="salary-date" formControlName="salaryDate">
          </div>
          <div class="form-group">
            <label for="base-salary">Base Salary</label>
            <input type="text" numeric class="form-control" id="base-salary" name="base-salary" formControlName="baseSalary">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group mb-2">
              <label for="production-bonus">Production Bonus</label>
              <input type="text" numeric class="form-control" id="production-bonus" name="production-bonus" formControlName="productionBonus">
            </div>
            <div class="form-group">
              <label for="compensation-bonus">Compensation Bonus</label>
              <input type="text" numeric class="form-control" id="compensation-bonus" name="compensation-bonus" formControlName="compensationBonus">
            </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group mb-2">
              <label for="commission">Commission</label>
              <input type="text" numeric class="form-control" id="commission" name="commission" formControlName="commission">
            </div>
            <div class="form-group">
              <label for="contributions">Contributions</label>
              <input type="text" numeric class="form-control" id="contributions" name="contributions" formControlName="contributions">
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="float-end mt-3">
              <button type="button" class="btn btn-primary" (click)="save()">Save</button>
              <button type="submit" class="btn btn-success">Add</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hovered">
            <thead>
              <tr>
                <th>Salary Date</th>
                <th>Base Salary</th>
                <th>Production Bonus</th>
                <th>Compensation Bonus</th>
                <th>Commission</th>
                <th>Contributions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let salary of salaries">
                <td>{{salary.salaryDate | date: 'yyyy-MM-dd'}}</td>
                <td>{{salary.baseSalary}}</td>
                <td>{{salary.productionBonus}}</td>
                <td>{{salary.compensationBonus}}</td>
                <td>{{salary.commission}}</td>
                <td>{{salary.contributions}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>